doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    title Forgot Password
    style.
      body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
      }
      .header {
        text-align: center;
        padding: 20px;
        background-color: #f7f7f7;
      }
      .header img {
        max-width: 150px;
      }
      .content {
        padding: 20px;
      }
      h1 {
        color: #333333;
        margin-bottom: 10px;
      }
      p {
        color: #666666;
        margin-top: 0;
      }
      .reset-btn {
        display: inline-block;
        padding: 10px 20px;
        background-color: #4044ed;
        color: #ffffff;
        
        text-decoration: none;
        border-radius: 5px;
        margin-top: 20px;
      }
      .footer {
        text-align: center;
        padding: 20px;
        color: #999999;
        font-size: 12px;
        background-color: #f7f7f7;
      }
    body
      // Header Section
      table(width="100%", cellpadding="0", cellspacing="0", bgcolor="#ffffff" class="header")
        tr
          td
            img(src='https://github.com/CCR-bhurtel/ChatUp/assets/58182980/4aef0102-579f-4d0e-993f-1b4bec304098', alt="Company Logo")

      // Content Section
      table(width="100%", cellpadding="0", cellspacing="0", bgcolor="#ffffff" class="content")
        tr
          td
            h1 Hi #{username}
            h2 Forgot Your Password?
            p Don't worry! It happens. Click the link below to reset your password.
            a(href=resetURL class="reset-btn") Reset Password

      // Footer Section
      table(width="100%", cellpadding="0", cellspacing="0", bgcolor="#ffffff" class="footer")
        tr
          td
            p © 2023 ChatUp. All Rights Reserved.